div{
    .A{
        position: relative;
        top: 10px;
        left: 10px;
        display: inline-block;
    }
    .B{
        position: relative;
        bottom: 10px;
        left: 10px;
        display: inline-block;
    }
}
.C{
    border: solid 5px red;
    background-color: yellow;
    width: 245px;
    height: 50px;
}
