.container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1%;

    .bg-color.orange{
        background-color: orange;
        margin-bottom: 10px;
        border-radius: 20px;
        height: 100px;
        width: 49.5%;
        @media (max-width: 320px) {
            width: 100%;
        }
        @media (max-width: 768px) {
            width: 49.5%;
        }
    }
    .bg-color.green{
        background-color: green;
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    .bg-color.blue{
        background-color: blue;
        height: 100px;
        width: 32.66%;
        margin-bottom: 10px;
        border-radius: 20px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .bg-color.gray{
        background-color: gray;
        height: 100px;
        width: 24.25%;
        margin-bottom: 10px;
        border-radius: 20px;
         @media (max-width: 320px) {
            width: 100%;
        }
        @media (max-width: 768px) {
            width: 49.5%;
        }
    }
}


