body{
    margin: 0;
}
    #outer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;

        .box{
          height: 100px;
          width: 100px;
          border: solid 1px;
        }
    }